:root {
  --side-bar-bg: #aeaeae;
  --app-bg: #424242;
  --create-character-bg: #aeaeae;
  --default-bg: #aeaeae;
  --welcome-screen-bg: #2e027d;
  --title-btm-border: #aeaeae;
}

* {
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}
.App {
  /* width: 1800px;
  height: 900px; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
}

.first_screen {
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.first_screen .bg_image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.first_screen .btn_start {
  width: 200px;
  height: 70px;
  position: absolute;
  bottom: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
/* MAIN APP */
/* .App {
  
} */

.game_screen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--app-bg);
  z-index: 98;
  border-radius: 6px;
}
/* CREATE CHARACTER */
.create-character {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.55);
  border-radius: 6px;
  /* background-color: var(--app-bg); */
}

.create-character__form {
  display: flex;
  justify-content: center;
}

.create-character__title h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.character-stats__title {
  margin-bottom: 15px;
}

.character-stats {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.character-stats .form-group {
  margin-right: 25px;
}

.character-classes__container {
  display: flex;
  margin-bottom: 50px;
}

.character-classes__container .item {
  width: 250px;
  margin-right: 25px;
  overflow: hidden;
}

.character-classes__container .item:last-child {
  margin-right: 0;
}

.character-classes__container .item .image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.character-classes__container .item .image-container img {
  width: 100%;
}

/* WELCOME SCREEN */
.welcome-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: var(--welcome-screen-bg);
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
  box-sizing: border-box;
}

.welcome-screen .main-content {
  flex-grow: 1;
}
/* CHARACTER DETAIL SIDEBAR */
.character-detail__sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.character-detail__sidebar .stats {
  display: flex;
}

.character-detail__sidebar .stats .player-avatar {
  flex-basis: calc(40% - 15px);
  margin-right: 15px;
}

.player-avatar img {
  width: 100%;
  object-fit: cover;
  /* border-radius: 15px; */
}

.character-detail__sidebar .stats .player-stats {
  flex-basis: calc(50% - 15px);
  flex-grow: 1;
}
/* FIGHT SCREEN */
.fight-screen {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.fight-screen .main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: tomato;
  opacity: 1;
}

.fighters-stats {
  display: flex;
}

.fighters-stats .player,
.fighters-stats .com {
  width: calc(50% - 20px);
  margin: 10px;
}

.fighters-stats .player img,
.fighters-stats .com img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.battle-log {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  /* border-radius: 10px; */
  overflow: auto;
}

.player-actions {
  margin-bottom: 25px;
}

/* LOOT SCREEN */
.loot-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--default-bg);
}

.loot-screen .item-img {
  border: 2px solid #000000;
  /* border-radius: 5px; */
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
}

.loot-screen .item-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.loot-screen .item-detail {
  margin-bottom: 10px;
}

.loot-screen .button-group {
  width: 500px;
}
/* COMMON CLASSES */
.main-screen {
  /* margin: auto; */
  width: 60%;
  height: 800px;
  max-width: 1000px;
  /* border-radius: 25px; */
  overflow: hidden;
  box-sizing: border-box;
}

.side-bar {
  width: calc((40% - 30px)/2);
  height: 800px;
  border-radius: 6px;
  background-color: var(--side-bar-bg);
  box-sizing: border-box;
}
.form-label {
  /* display: inline-block; */
  /* min-width: 140px; */
  /* text-align: right; */
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

.container {
  width: 100%;
  height: 100%;
}
.button-group {
  display: flex;
  justify-content: space-around;
}
.form-input {
  height: 1.5rem;
  padding: 5px 10px;
  /* border-radius: 5px; */
}

.form-group {
  margin-bottom: 10px;
}

.stats-input {
  width: 100px;
}

.btn {
  padding: 10px 0;
  cursor: pointer;
  border: none;
  background: none;
}

.txt-green {
  color: green;
}
.bg-green {
  background-color: #b3dd9e!important;
}

.bg-red {
  background-color: #d43445!important;
}

.btn-large {
  width: 200px;
  height: 2.5rem;
}
.error {
  flex-basis: 100%;
  color: red;
}

.w-200 {
  width: 200px !important;
}

.com-turn-popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  /* background-color: rgba(0,0,0,0.75); */
  pointer-events: none;
  z-index: 999;
}

.com-turn-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: -4px 3px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 3px 14px 0px rgba(0,0,0,0.75);
  box-shadow: -4px 3px 14px 0px rgba(0,0,0,0.75);
  z-index: 99;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: tomato;
  transform: translate(-50%, -50%);
  /* border-radius: 10px; */
  z-index: 99;
}

.popup__container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.popup__title {
  border-bottom: 1px solid var(--title-btm-border);
}

.popup__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.popup__info {
  flex-grow: 1;
}

.ingame-menu__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 997;
}
.ingame-menu__bg {
  width: 100%;
  height: 100vh;
  /* background-color: royalblue; */
  background: rgba(0, 0, 0, .4);
  z-index: 998;
}
.ingame-menu__main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  padding: 10px;
  background-color: salmon;
  z-index: 999;
}

.ingame-menu__title {
  text-align: center;
  margin-bottom: 30px;
}

.ingame-menu__options-grp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 200px;
  
}

.ingame-menu__option {
  flex-basis: 50px;
  background-color: burlywood;
  cursor: pointer;
  text-align: center;
}